.wishlist-item {
  padding: 0.5rem;
  width: 232px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .skeleton-img {
    width: 200px;
    height: 300px;
    margin-bottom: 0.5rem;
  }
  .skeleton-text {
    height: 16px;
    width: 60%;
  }
  .skeleton-btn {
    height: 42px;
    width: 100%;
    margin-top: 0.5rem;
  }
}
