:root {
  --color-bg: #181818;
  --color-bg-hover: #777777;
  --color-box-shadow: rgba(0, 0, 0, 0.08);
  --color-box-shadow-hover: rgba(0, 0, 0, 0.16);
  --color-poster-bg: #222;
  --color-title: #fff;
  --color-text: #fff;
  --color-text-gray: #aaa;
  --color-navbar-bg: #23272a;
  --color-navbar-link: #fff;
  --color-btn-bg: #ffd700;
  --color-btn-text: #23272a;
  --color-skeleton-bg: #333;
  --color-skeleton-highlight: #444;
  --color-success: #27ae60;
  --color-warning: #ffc107;
  --color-popular: #e67e22;
  --color-top_rated: #8e44ad;
  --color-upcoming: #2980b9;
  --color-uncategorized: #7f8c8d;
}
